[submodule "container"]
	path = container
	url = git@github.com:sotekton/agnostic-container-build.git
	branch = master
[submodule "mrm"]
	path = mrm
	url = git@github.com:sotekton/agnostic-mrm.git
	branch = master
