.nyc_output/
coverage.lcov
*.log
*.sublime-project
*.sublime-workspace
.DS_Store
.idea/
.nyc_output/
.vscode/
Thumbs.db
coverage.lcov
node_modules/
python_modules/
scratchpad*
result*
coverage/
.nixconfig/
*.swp
iface/
core/routes/
core/rests/
shell/
